cv_bridge==1.16.2
matplotlib==3.8.4
message_filters==1.17.0
numpy==2.2.0
open3d==0.18.0
pandas==2.2.3
Pillow==11.0.0
plotly==5.22.0
pyrealsense2==2.55.1.6486
rospy==1.17.0
# sam2==0.4.1
scikit_learn==1.4.2
scipy==1.14.1
sensor_msgs==1.13.1
# torch==2.5.1
